:root {
	--primary: #651fff;
	--secondary: #b388ff;
	--light: #fff;
	--dark: #000;
	--grey1: #8b8b8b;
	--grey2: #b6b6b6;

	font-family: Noto Sans TC, Inter, system-ui, Avenir, Helvetica, Arial,
		sans-serif;
}

body {
	color: var(--dark);
	margin: 0;
}
